<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">MeetShake</a>
        <ul class="right">
            <li><a href="#" class="btn-floating btn-large waves-effect waves-light red" style="margin-top: 4px;">
                    <i class="large mdi-content-add" title="Publier un billet"></i>
                </a>

            </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>