<!DOCTYPE html>
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../../style/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <meta property="og:image" content="../../style/images/bootstrap-social.png" />
    </head>

    <body>



      <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">MeetShake</a>
      <ul class="right">
        <li><a href="#" class="btn-floating btn-large waves-effect waves-light red" style="margin-top: 4px;">
              <i class="large mdi-content-add" title="Publier un billet"></i>
            </a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

<div class="container">
  <div class="section">

    <!--   Cards Section   -->
    <div class="row">
    <div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../style/images/bouffe.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Plan Bouffe sur le campus de Nanterre<i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../style/images/exposition.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Expo sublime au Point Ephemere de Colombes <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../style/images/concert.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Concert improvise sur les quais a St Michel <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>

  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MeetShake</h5>
          <p class="grey-text text-lighten-4">Nous sommes une equipe d'etudiants de l'universite de Nanterre travaillant sur ce projet. N'hesitez pas a nous contacter si vous rencontrez le moindre probleme.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="red-text text-lighten-3" href='#'>MeetShake Team</a>
      </div>
    </div>
  </footer>



      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../../style/js/materialize.min.js"></script>
    </body>
  </html>